{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
<html>
<head>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="{{ root_url }}/stylesheets/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{{ root_url }}/stylesheets/bootstrap-responsive.min.css">

<script type="text/javascript" src="{{ root_url }}/javascripts/bootstrap.min.js"></script>

<style type="text/css">
  #main {
    width: 90%;
    margin: auto auto;
  }
</style>

</head>

<body>
  <div id="main">
    <div id="content">
      <h1>Movies</h1>
      {{ content | expand_urls: root_url }}
    </div>
  </div>
</body>
</html>
